
/* CSS HEX 
--paradise-pink: #ee4266ff;
--russian-violet: #2a1e5cff;
--rich-black-fogra-39: #0a0f0dff;
--silver-sand: #c4cbcaff;
--tiffany-blue: #3cbbb1ff;
*/

body {
    --paradise-pink: #ee4266ff;
    --russian-violet: #2a1e5cff;
    --rich-black-fogra-39: #0a0f0dff;
    --silver-sand: #c4cbcaff;
    --tiffany-blue: #3cbbb1ff; 


    background-color: var(--tiffany-blue);
    padding: 0;
    margin: 0;

}

.hidden_link {
    color: var(--silver-sand);
    text-decoration: none;
}
.hidden_link_v2 {
    color: var(--russian-violet);
}

.header {
    padding: 10px;
    margin: 0;
    background-color: var(--rich-black-fogra-39);
    width:100%;
    position: relative;
    top: 0;
    left: 0;
}

.table_header {
    width: 100%;
    height: 100px;
}

#logo_td {
    width: 100px;
    height:100px;
}

#logo {
    width: 100%;
    height: 100%;
}

.normal {
    color: black;
}

.addition {
    color: blue;
}

.subtraction {
    color: red;
}

.mainarea {
    display: flex;
    justify-content: center;
}

#sample_text {
    background-color: rgb(180,180,180);
    padding: 10px;
    width: 70%;
    line-height: 40px;

}

